@model RentACarSystem.Data.Entity.Query

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Query</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForThePeriod" class="control-label"></label>
                <input asp-for="PriceForThePeriod" class="form-control" />
                <span asp-validation-for="PriceForThePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusOfQuery" class="control-label"></label>
                <select asp-for="StatusOfQuery" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
                <span asp-validation-for="StatusOfQuery" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatorId" />
            <input type="hidden" asp-for="CarId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
